/*Styles*/
/*This is for the contact form alert class*/
/*This style sheet also helps configure particles.js*/


.alert{
    text-align: center;
    padding: 10px;
    background:#79c879;
    color:white;
    margin-bottom: 10px;
    display: none;
}


#particles-js{
    width: 100%;
    height: 100%;
    position: fixed;
}


#location{
    width: 100%;
    position: relative;
}

#footer, #contact-form{
    position: relative;
}